.navbar{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    background-color: rgb(130, 218, 240);
}
body{
    background-image: linear-gradient(to right, rgba(132, 74, 240, 0), rgba(255, 0, 0, 1));
    background-color: #870ae5;
    width: 100vw;
  
}
.f-color{
    color: white;
}
.navbar{
    background-image: linear-gradient(to right, rgba(132, 74, 240, 0), rgba(255, 0, 0, 1));
    background-color: #870ae5; 
}
.nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
footer{
    width: 100%;
    height: 45%;
}
.col-lg{
    width: 20rem;
}
.search{
    position: absolute;
    top: 87px;
    left: 104px;
    width: 81%;/* Adjust background color as needed */
  z-index: 999; 
}
.large-icon{
    font-size: 28px;
    position: relative;
    right: 36px;
    top: 7px;
}


